.foo {
  background: red;
}
.bar {
  background: green;
}
/* a comment */
@media (min-width: 600px) {
  /* another comment */
  .foo {
    background: blue;
  }
  .bar {
    background: yellow;
  }
}
